.control-label-normal {
    font-weight: 400;
    display:inline-block;
}

table.table thead {
    background-color: lightgray;
}

table td.valign-middle {
    vertical-align: middle;
}

.table-bordered tbody tr td.valign-middle {
    vertical-align: middle;
}

table td select.has-error {
    border-color: #dd4b39;
}

table td input.has-error {
    border-color: #dd4b39;
}

table td span.help-block {
    color: #dd4b39;
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: lightskyblue;
}

ol.breadcrumb {
    margin-right: 25px;
}

.parsley-asterisk {
    color: red;
}

.radio label.noleftpadding {
    padding-left: 0px;
}

.sk-cube-grid {
    position: relative;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #3c8dbc;
    float: left;
    box-shadow: 4px 4px 2px #888888;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

#loader-container {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0, 0.3);
}

.price-history-helper {
    font-style: italic;
    font-size: 90%;
    padding-bottom: 4px;
}

.control-sidebar-skin-bg-dark {
    background-color: dimgray;
}

.control-sidebar-skin-bg-light {
    background-color: transparent;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 25px;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.control-sidebar > .tab-content {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-down: 10px;
}

.store-ribbon-blue {
    background-color: #367fa9;
    margin-top: 8px;
}

.store-ribbon-black {
    background-color: #ffffff;
    margin-top: 8px;
}

.store-ribbon-red {
    background-color: #f6f6f6;
    margin-top: 8px;
}

.store-ribbon-yellow {
    background-color: #f6f6f6;
    margin-top: 8px;
}

.store-ribbon-purple {
    background-color: #555299;
    margin-top: 8px;
}

.store-ribbon-green {
    background-color: #f6f6f6;
    margin-top: 8px;
}

.store-ribbon-blue-light {
    background-color: #367fa9;
    margin-top: 8px;
}

.store-ribbon-black-light {
    background-color: #333333;
    margin-top: 8px;
}

.store-ribbon-red-light {
    background-color: #f6f6f6;
    margin-top: 8px;
}

.store-ribbon-yellow-light {
    background-color: #e08e0b;
    margin-top: 8px;
}

.store-ribbon-purple-light {
    background-color: #555299;
    margin-top: 8px;
}

.store-ribbon-green-light {
    background-color: #008d4c;
    margin-top: 8px;
}

.store-ribbon-none {
    margin-top: 0px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 27px;
}