.control-label-normal {
    font-weight: 400;
    display:inline-block;
}

table thead {
    background-color: lightgray;
}

table td.valign-middle {
    vertical-align: middle;
}

.table-bordered tbody tr td.valign-middle {
    vertical-align: middle;
}

table td select.has-error {
    border-color: #dd4b39;
}

table td span.help-block {
    color: #dd4b39;
}