.control-label-normal {
    font-weight: 400;
    display:inline-block;
}

table.table thead {
    background-color: lightgray;
}

table td.valign-middle {
    vertical-align: middle;
}

.table-bordered tbody tr td.valign-middle {
    vertical-align: middle;
}

table td select.has-error {
    border-color: #dd4b39;
}

table td input.has-error {
    border-color: #dd4b39;
}

table td span.help-block {
    color: #dd4b39;
}

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
    color: lightskyblue;
}

ol.breadcrumb {
    margin-right: 25px;
}

.red-asterisk {
    color: red;
}

.radio label.noleftpadding {
    padding-left: 0px;
}

.sk-cube-grid {
    position: relative;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #3c8dbc;
    float: left;
    box-shadow: 4px 4px 2px #888888;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

#loader-container {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0, 0.3);
}

.price-history-helper {
    font-style: italic;
    font-size: 90%;
    padding-bottom: 4px;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 25px;
}

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.control-sidebar > .tab-content {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 25px;
    padding-down: 10px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 5px 5px 5px 27px;
}

.menu-separator {
    border-bottom: 1px solid #444 !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container .select2-selection--single {
    height: 32px;
}

.select2-dropdown {
    border-radius: 0px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 2px;
    margin-top: -7px;
}

[v-cloak] {
    display:none;
}

.mb-10 {
	margin-bottom: 20px;
}

.mb-20 {
	margin-bottom: 20px;
}

.table-no-bg {
	background-color: transparent !important;
}

.strong-line {
    border: 1px;
    border-style: solid;
}